// ===================================================
// Customized form base pulled from Skeleton V2.0.4
// ===================================================

/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    padding: em(6px) em(10px); /* The 6px vertically centers text on FF, ignored by Webkit */
    width: 100%;
    height: em(38px);
    background-color: $input-background-color;
    border-radius: 0;
    border: $input-border;
    box-shadow: none;
    box-sizing: border-box;
}

/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: em(65px);
    padding-top: em(6px);
    padding-bottom: em(6px);
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border-color: $input-border-focus-color;
    outline: 0;
    background-color: $input-background-color;
}

label,
legend {
    display: block;
    margin-bottom: .5rem;
}

fieldset {
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

label > .label-body {
    display: inline-block;
    margin-left: .5rem;
    font-weight: normal;
}


/* Custom styled select */
.styled-select {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 100%;
    
    &:before,
    &:after {
        content: "";
        pointer-events: none;
        position: absolute;
    }
    
    &:before {
        bottom: 1px;
        right: 1px;
        top: 1px;
        width: $styled-select-btn-width;
        background-color: $input-background-color;
        border-right-radius: $input-border-radius;
        border: $input-border;
        border-left: none;
    }
    
    &:after {
       content: $styled-select-btn-icon-font-code;
       font-family: $styled-select-btn-icon-font-family;
       font-style: normal;
       font-weight: normal;
       text-decoration: inherit;
       color: $styled-select-btn-icon-color;
       top: $styled-select-btn-icon-position-top;
       right: $base-padding;
       z-index: 1;
    }
    
    select {
        width: 100%;
        margin: 0;
        padding-right: $styled-select-padding-right;
        opacity:1;
        border-radius: $input-border-radius;
        border: $input-border;
        -webkit-appearance: button;
        -webkit-box-shadow: none;
        -webkit-user-select: none;
        -moz-appearance: none;
        
        &:focus {
            border-color: $input-border-focus-color;
            background-color: $input-background-color;
            outline: none;
        }
    }
}
